<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CampusEventHub</title>
    <script type="importmap"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/event.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/seat.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/payos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CampusEventHub.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Header -->
<header>
    @await Html.PartialAsync("_Header")
</header>

<!-- Nội dung chính -->
<main role="main" class="flex-fill container pb-3">
    @RenderBody()
</main>

<!-- Footer -->
<footer class="mt-auto">
    @await Html.PartialAsync("_Footer")
</footer>

<!-- JS -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
