@model VerifyEmailModel


@if (TempData["Success"] != null)
{
    <div style="color:green">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div style="color:red">@TempData["Error"]</div>
}

<!DOCTYPE html>

<html>
<head>
    <title>Verify Email</title>
</head>
<body>
<div>
    <form action="VerifyCode" method="post">
        <label for="">Email:</label>
        <input asp-for="Email"/>
        <label for="">Code:</label>
        <input asp-for="Code"/>
        <button type="submit">Verify</button>
    </form> 
</div>
</body>
</html>